<div class="content">
    <nav>
        <section class="image"></section>
        <div>
            <section class="name">
                <article class="title">Igor Schneider</article>
                <article class="subtitle">Senior Fullstack Developer</article>
            </section>
            <section class="stats">
                <section>
                    <article><b>Adresse</b></article>
                    <article>Paulsborner Str. 88</article>
                    <article>10709 Berlin, Deutschland</article>
                </section>
                <section class="links">
                    <article><b>Kontakt</b></article>
                    <article>
                        <i class="material-icons-outlined">email</i>
                        <a href="mailto:igor.schneider@outlook.com">igor.schneider@outlook.com</a>
                    </article>
                    <article>
                        <i class="material-icons-outlined">call</i>
                        <span>+49 178 132 1337</span>
                    </article>
                </section>
                <section>
                    <article><b>Netzwerke</b></article>
                    <article>Xing: <a href="https://www.xing.com/profile/Igor_Schneider3/cv">Link</a></article>
                    <article>LinkedIn: <a href="https://www.linkedin.com/in/igor-schneider-ab063b28/">Link</a></article>
                </section>
            </section>
        </div>
    </nav>

    <!-- Work experience -->
    <section class="work">
        <article class="title">Jobs & Projekte</article>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Senior Software Engineer @ <b>Akelius GmbH</b> (Sept. 2018 - heute)
                <hr />
            </article>
            <div class="project">
                <b>Lettings Application</b>
                <article class="description">
                    Design und Entwicklung einer internationalen Web Anwendung für die Vermietung von Wohnungen,
                    Parkplätzen und gewerblichen Objekten. (Angular, Angular Material, Azure Functions, Azure Cosmos
                    DB).
                </article>
            </div>

            <div class="project">
                <b>Shared Component Library</b>
                <article class="description">
                    Design und Entwicklung einer Frontend Library für Shared Web Komponenten (Angular, Angular
                    Material).
                </article>
            </div>

            <div class="project">
                <b>Akelius Material</b>
                <article class="description">
                    Entwicklung eines Company Style Guide basierend auf Google Material (Angular, Angular Material).
                </article>
            </div>

            <div class="project">
                <b>Virtual Viewing</b>
                <article class="description">
                    Design und Entwicklung einer Web Anwendung für virtuelle Wohnungsbesichtigungen (Angular, Angular
                    Material, three.js).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>Cornelsen Verlag GmbH</b> (Sept. 2014 - Sept. 2018)
                <hr />
            </article>

            <div class="project">
                <b>Interaktive Übungen for Scook <a href="https://www.scook.de/scook/interaktive-uebungen">Link</a></b>
                <article class="description">
                    Design und Entwicklung einer Web Anwendung als digitale Ergänzung von Arbeitsheften für verschiedene
                    Schulfächer (AngularJS und später Angular 2+).
                </article>
            </div>

            <div class="project">
                <b>Produkt-o-Mat</b>
                <article class="description">
                    Design und Entwicklung eines hauseigenes Content Management Systems zum Erstellen von Interaktiven
                    Übungen (Angular, asp.net core, MongoDB).
                </article>
            </div>

            <div class="project">
                <b>Lunchtime</b>
                <article class="description">
                    Design und Entwicklung einer Firmeninternen Web Anwendung mit der sich Kollegen zum Mittagessen
                    verabreden können (Angular, asp.net core, MongoDB, Google Maps API).
                </article>
            </div>

            <div class="project">
                <b>e-Cademy</b>
                <article class="description">
                    Design und Entwicklung einer Web Anwendung, die Auszubildenden in der Prüfungsvorbereitung hilft
                    (Angular, node.js, express.js, PostgreSQL).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>protected-networks.com GmbH</b> (Mär. 2012 - Sept. 2014)
                <hr />
            </article>

            <div class="project">
                <b>8MAN</b>
                <article class="description">
                    Featureentwicklung einer Windows Client Anwendung für Berechtigungsmanagement in Windows Servern und
                    Systemen mit Active Directory (Windows Presentation Foundation).
                </article>
            </div>

            <div class="project">
                <b>8MAN GrantMa</b>
                <article class="description">
                    Design und Entwicklung einer Web Anwendung mit der Nutzer Berechtigungen für eine Netzwerk Ressource
                    bestellen können (sammy.js, jQuery, asp.net MVC).
                </article>
            </div>
        </section>

        <section class="company">
            <article class="subtitle">
                <i class="material-icons-outlined">star_rate</i>
                Software Developer @ <b>Smarthouse Media GmbH</b> (Aug. 2011 - Feb. 2012)
                <hr />
            </article>

            <div class="project">
                <b>Relaunch der Welt.de Börsenseite <a href="http://www.welt.de/boerse/">Link</a></b>
                <article class="description">Entwicklung von Web Controls (asp.net Webforms).</article>
            </div>
        </section>
    </section>

    <!-- About -->
    <section class="work">
        <article class="title">Bio</article>
        <section class="company">
            <p>
                Meine Reise in die Softwareentwicklung hat 2009 angefangen, kurz vor dem Abschluss an der Universität in
                Zagreb. Ich habe 2 Jahre als Student Partner bei Microsoft in Kroatien gearbeitet und die Zeit
                überwiegend damit verbracht meinen Kommilitonen das Programmieren in C#/.net nahezubringen. Dazu kamen
                diverse interessante Projekte zu Stande wie das Microsoft Community Portal; das erste Azure/Cloud
                Projekt in unserer Region an dem ich im Frontend und Backend tätig war. Nach meinem Abschluss war es für
                mich nicht schwer einen Job als .net Entwickler zu finden. 2011 habe ich mich entschieden eine Stelle in
                Berlin als asp.net Entwickler zu besetzen. Das war mein erster Job in Deutschland. Die folgenden 3 Jahre
                habe ich weitesgehend in Microsoft Technologien gearbeitet, in der Client Side Entwicklung, aber auch im
                Web.
            </p>

            <p>
                In 2014 habe ich mich entschieden den Fokus mehr in Richtung Web Technologien/Javascript zu schieben.
                Nach einer langen Experimentierphase hat sich AngularJS (und später Angular 2) als das Framework meiner
                Wahl ausgestellt. Nach über 6 Jahren und zahlreichen Projekten habe ich eine beachtliche Erfahrung in
                Angular gesammelt.
            </p>

            <p>
                In den letzten 4 Jahren habe ich häufig die Mentor Rolle für Studenten und Junior Entwickler übernommen.
                Durch meinen eigenen Werdegang als Front- und Backend Entwickler hatte ich einen sehr guten Plan wo der
                Fokus für einen Einsteiger in die Softwareentwicklung liegen sollte. Ich konnte mein Wissen über
                Software Architektur und Frameworks durch kleine, thematisch angepasste Übungen weitergeben. Die Rolle
                des Mentors ist etwas was mir noch immer viel Spaß macht und was ich gerne in der Zukunft machen möchte.
            </p>

            <p>
                Ich hatte neben der Softwareentwicklung das Glück and der Entstehung von mehreren Digitalen Produkten
                mitzuwirken. Das hat mir einen guten Einblick in Themen wie SCRUM, Agile Entwicklung, UX,
                Projekt/Produkmanagement und Marktforschung gegeben. Es macht mir Spaß in cross-funktionalen Teams zu
                arbeiten und mein idealer Arbeitgeber hätte eine offene Plattform für Diskussionen und Ideen im Kontrast
                zu harten Hierarchien und Positionen.
            </p>
        </section>
    </section>

    <!-- Education -->
    <section class="work">
        <article class="title">Ausbildung</article>

        <section class="company">
            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    <b>Technisches Gymnasium Rudjer Boskovic</b>; Abgeschlossene Ausbildung als
                    <b>Fachinformatiker</b> (2004, Zagreb, Kroatien).
                </span>
            </article>

            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    <b>Fakultät für Naturwissenschaften</b>; Angefangenes Studium der <b>theoretischen Physik</b> (2005,
                    Zagreb, Kroatien).
                </span>
            </article>

            <article class="education">
                <i class="material-icons-outlined">school</i>
                <span>
                    <b> Fakultät für Elektrotechnik und Computerwesen</b>; Abschluss als
                    <b>Univ.Bacc.Comp. (Bachelor der Informatik)</b>, Modul "Information Processing and Multimedia
                    Systems" (2010, Zagreb, Kroatien).
                </span>
            </article>
        </section>
    </section>

    <!-- Skills -->
    <section class="work">
        <article class="title">Skills</article>

        <section class="company">
            <div class="skill">
                <span>Angular</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>Typescript/Javascript</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>LESS/SASS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>NodeJS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>express.js</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>NestJS</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>MongoDB</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>RavenDB</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Gulp</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>asp.net core/.net core</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Microsoft Azure</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
            <div class="skill">
                <span>Scrum and agile software development</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                </div>
            </div>
            <div class="skill">
                <span>UX/UI design</span>
                <div>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star</i>
                    <i class="material-icons-outlined">star_border</i>
                    <i class="material-icons-outlined">star_border</i>
                </div>
            </div>
        </section>
    </section>

    <!-- Languages -->
    <section class="work">
        <article class="title">Sprachen</article>

        <section class="company">
            <article class="project">
                <i class="material-icons-outlined">language</i>
                Kroatisch (Muttersprache).
            </article>

            <article class="project">
                <i class="material-icons-outlined">language</i>
                Deutsch (C2 Niveau).
            </article>

            <article class="project">
                <i class="material-icons-outlined">language</i>
                Englisch (C2 Niveau).
            </article>
        </section>
    </section>
</div>
